.one-202x-pattern-page005_service-detail {
    & .a2e-service-detail__copy {
        display: grid;
        gap: 0.5rem;
    }

    & .a2e-service-detail__steps {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 50%;
        gap: clamp(2rem, 9.7222vw, 8.75rem);
        padding-block: 4.5rem;
        padding-inline: var(--a2e-section-inset);

        & > * {
            min-inline-size: 0;
            margin: 0;
        }

        & ol {
            display: grid;
            gap: 2.5rem;
            padding-inline-start: 4.5rem;
            font-size: var(--wp--preset--font-size--body);
            line-height: 1.4;
            letter-spacing: 0.5px;

            & li {
                padding-inline-start: 0.5rem;

                &::marker {
                    font-size: var(--wp--preset--font-size--h-3);
                    font-weight: 300;
                }

                & strong {
                    display: block;
                    margin-block-end: 2.5rem;
                    font-size: var(--wp--preset--font-size--h-3);
                    font-weight: 300;
                    line-height: 1.1;
                    letter-spacing: -0.25px;

                    & + br {
                        display: none;
                    }
                }
            }
        }
    }

    & .one-202x-pattern-show013_testimonials {
        padding-block-start: 0;
    }

    @media (--mobile) {
        & .a2e-service-detail__steps {
            grid-template-columns: minmax(0, 1fr);
            padding-block: 3rem;

            & ol {
                padding-inline-start: 2.5rem;

                & li strong {
                    margin-block-end: 1.5rem;
                }
            }
        }
    }
}
