.wp-block-button .wp-block-button__link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;
}

.wp-block-button.is-style-outline-dark .wp-block-button__link {
	padding: calc(0.75rem - 1px) calc(2rem - 1px);
	border: 1px solid var(--wp--preset--color--button-outline);
	background: var(--wp--preset--color--base);
	color: var(--wp--preset--color--accent);
}

.wp-block-button.is-style-outline-dark .wp-block-button__link:active {
	border-color: var(--wp--preset--color--grey-800);
	color: var(--wp--preset--color--grey-800);
}

.wp-block-button.is-style-link .wp-block-button__link {
	text-decoration-thickness: 1.5px;
	text-underline-offset: 0.2em;
}

.wp-block-button.is-style-link .wp-block-button__link:is(:hover, :active) {
	text-decoration: none;
}

.wp-block-button.is-style-link .wp-block-button__link:active {
	background: transparent;
	color: var(--wp--preset--color--grey-800);
}
