.one-202x-pattern-show016_team-members {
    padding-block: 4.5rem;
    padding-inline: var(--a2e-section-inset);

    & > .wp-block-query {
        margin: 0;
    }

    & .wp-block-post-template {
        gap: 1.5rem;
        margin: 0;

        & > .wp-block-post {
            min-inline-size: 0;
            margin: 0;
        }
    }

    & .one-202x-content-card--team-member {
        border: 0;
        box-shadow: inset 0 0 0 1px var(--wp--preset--color--contrast);
        overflow-wrap: anywhere;

        & .one-202x-content-card__content {
            inline-size: 100%;
            max-inline-size: 21.08625rem;
            align-self: center;
        }

        & .one-202x-content-card__media {
            max-inline-size: 23rem;
            margin-inline: auto;
        }
    }

    @media (--tablet-down) {
        padding-block: 3rem;

        & .wp-block-post-template {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @media (--mobile) {
        & .wp-block-post-template {
            grid-template-columns: minmax(0, 1fr);
        }
    }
}
