.one-202x-pattern-form003_contact-split {
	:where(a[href^="mailto:"], a[href^="tel:"]) {
		overflow-wrap: anywhere;
	}
	:where(.wp-block-list) {
		padding-inline-start: 0;
		list-style: none;
		li + li { margin-block-start: 0.5rem; }
	}
}
