.one-202x-pattern-cont008_support-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem;
    border: 0.5px solid var(--wp--preset--color--contrast);
    border-radius: 2px;
    background: var(--wp--preset--color--base);
    color: var(--wp--preset--color--contrast);

    & > *,
    & .wp-block-group > * {
        margin: 0;
    }

    & .one-202x-support-card__contact {
        display: grid;
        gap: 2rem;
        padding-block-end: 2.0625rem;
        border-block-end: 1px solid currentColor;
    }

    & .one-202x-support-card__contact > .wp-block-icon {
        width: 3.125rem;
        height: 3.125rem;
    }

    & .one-202x-support-card__copy {
        display: grid;
        gap: 0.5rem;
    }

    & h3 {
        font-size: var(--wp--preset--font-size--h-4);
        font-weight: 600;
        line-height: 1.125;
        letter-spacing: 0.25px;
    }

    & .one-202x-support-card__copy p {
        font-size: var(--wp--preset--font-size--body);
        line-height: 1.4;
        letter-spacing: 0.5px;
    }

    & .one-202x-support-card__explore {
        display: grid;
        gap: 1rem;
    }

    & .one-202x-support-card__links {
        display: grid;
        gap: 0.5rem;
    }

    & .wp-block-one-202x-icon-button {
        width: 100%;
        font-size: var(--wp--preset--font-size--button);
        font-weight: 700;
        line-height: 1.111111;
        letter-spacing: 0;
    }

    & .is-style-icon-link {
        justify-content: space-between;
    }

    & .is-style-icon-link .wp-block-icon {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        border-radius: 0;
        background: transparent;
        color: inherit;
    }

    & .is-style-icon-link .wp-block-icon svg {
        width: 0.4125rem;
        height: 0.75rem;
    }
}

.one-202x-support-card__contact > .wp-block-icon svg {
    width: 100%;
    height: 100%;
}
