.wp-block-one-202x-contact-details {
    display: grid;
    gap: var(--wp--preset--spacing--md);
    overflow-wrap: anywhere;

    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        gap: var(--wp--preset--spacing--sm);
    }

    & li > strong {
        display: block;
        margin-block-end: 0.25em;
    }

    & address {
        font-style: normal;
    }

    & .one-202x-contact-details__locations {
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
        gap: var(--wp--preset--spacing--md);
    }

    & .one-202x-icon-button__label {
        direction: ltr;
        unicode-bidi: isolate;
    }
}
