.wp-block-icon:is(.is-style-circle-dark, .is-style-circle-accent) {
	display: inline-grid;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0;
	place-items: center;
	border-radius: 999px;
}

.wp-block-icon:is(.is-style-circle-dark, .is-style-circle-accent) svg {
	width: 1.5rem;
	height: 1.5rem;
}

.wp-block-icon.is-style-circle-dark {
	background: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--accent);
}

.wp-block-icon.is-style-circle-accent {
	background: transparent;
	color: var(--wp--preset--color--accent);
}
