.wp-block-button__link {
    .wp-block-button & {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
    }

    .wp-block-button.is-style-outline-dark & {
        padding: calc(0.75rem - 1px) calc(2rem - 1px);
        border: 1px solid var(--wp--preset--color--button-outline);
        background: var(--wp--preset--color--base);
        color: var(--wp--preset--color--accent);

        &:active {
            border-color: var(--wp--preset--color--grey-800);
            color: var(--wp--preset--color--grey-800);
        }
    }

    .wp-block-button.is-style-link & {
        text-decoration-thickness: 1.5px;
        text-underline-offset: 0.2em;

        &:is(:hover, :active) {
            text-decoration: none;
        }

        &:active {
            background: transparent;
            color: var(--wp--preset--color--grey-800);
        }
    }
}
