.one-202x-pattern-ctas004_centred-panel {
    padding: clamp(1.25rem, 5vw, 4.5rem);

    & > .one-202x-pattern-cont009_centred-intro {
        margin: 0;

        & > .a2e-centred-intro__description {
            max-inline-size: 41.875rem;
        }
    }
}
